.nome1{
    height: 620px;
    width: 800px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.nome2{
    height: 190px;
    width: 700px;
    background-color: burlywood;
    border: solid black 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nome3{
    height: 190px;
    width: 700px;
    background-color: chartreuse;
    border: solid black 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nome4{
    height: 190px;
    width: 700px;   
    background-color: cadetblue;
    border: solid black 2px;
        display: flex;
    justify-content: space-around;
    align-items: center;

}

.nome5{
    height: 50px;
    width: 80px;
    background-color: coral;
    border: solid black 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}